<h1 style="text-align: center"> Blogs Coming Soon </h1>

<%= for post <- @blogs do %>
    <div class="blog-post">
        <div class="blog-title"> <%= post.title %>  </div>
        <div class="blog-content">
            <%= get_content_preview(post.content) %>...
            <%= link "read more", to: Routes.blog_path(@conn, :show, post.id) %>
        </div>
    </div>
<% end %>
