<div class="post">
    <div class="post-title">
        <%= @post.title %>
    </div>
    <hr>
    <div class="post-content">
        <%= @post.content %>
    </div>
    <br>
    <%= button "Delete Post", to: Routes.blog_path(@conn, :delete_post, @post.id), method: :get %>
</div>
