<h1>Update Blog Post</h1>
<%= form_for @changeset, Routes.blog_path(@conn, :update, @changeset.data.id), fn f -> %>
    <%= render "post_form.html", changeset: @changeset, form: f %>
    <%= submit "Update" %>
<% end %>
