<section class="phx-hero">
  <h1>Hi, I am Aachman Mittal</h1>
  <p>Student - Developer - Learner</p>
</section>

<section class="row" style="text-align: center; display: block">
  Find me on 
  <br>
  <%= link "GitHub", to: URI.parse("https://github.com/aarkimos"), target: "_blank" %>
  <%= link "LinkedIn", to: URI.parse("https://linkedin.com/in/aarkimos"), target: "_blank" %>
  <%= link "Twitter", to: URI.parse("https://twitter.com/aarkimos"), target: "_blank" %>
</section>
